[Unit]
Description=Programa para extraer informacion del router
Wants=network.target
After=syslog.target network-online.target
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Documents/trafficAnalysis
ExecStart=/usr/bin/python3.7 /home/pi/Documents/trafficAnalysis/main.py
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target



